body {
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: .78em;
    background: #e6e6e6;
    color: #635B53;
    height: 100%;
}

p {
    margin: 0px;
    padding: 0px 0px 16px 0px;
    line-height: 1.7em;
}

h1,
h2,
h3,
h4 {
    font-size: 150%;
    padding: 7px 0px 5px 0px;
    margin: 0px 0px 12px 0px;
    font-weight: normal;
    color: #342F28;
    font-family: "Roboto", sans-serif;
}

h1,
h3 {
    text-transform: uppercase;
    margin: 10px 0px 20px 0px;
    padding: 5px 20px 5px 0px;
    border-bottom: 1px solid #CCC6B4;
}

a,
a:hover {
    border-bottom: 1px dotted;
    color: #635B53;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid;
    color: #A4AA04;
}

img {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

a {
    outline: none;
}

form {
    padding: 0;
    margin: 0;
}

.left {
    float: left;
    margin-right: 10px;
}

.right {
    float: right;
    margin-left: 10px;
}

.center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

blockquote {
    margin: 20px 0px 20px 0px;
    padding: 10px 20px 0px 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;
}

ul {
    margin: 2px 0px 18px 16px;
    padding: 0px;
}

ul li {
    list-style-type: square;
    margin: 0px 0px 6px 0px;
    padding: 0px;
}

ol {
    margin: 8px 0px 0px 24px;
    padding: 0px;
}

ol li {
    margin: 0px 0px 11px 0px;
    padding: 0px;
}

#main,
#logo,
#menubar,
#site_content,
#footer {
    margin-left: auto;
    margin-right: auto;
}

#header {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAACWCAIAAABRkz+JAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAC4YAAAuGAEqqicgAAAAB3RJTUUH4QsYCCEYYlHw6wAAAE1JREFUaN7t2jERACAMA0DgkFf8S0BG8UDHfvZfMmXIzMzxmzUKgWEYhmEYhmEYhmEYhmEYhmG4AZ4RoTAYhmEYhuFOeN9z263eygHnAQL7CiX97Hf6AAAAAElFTkSuQmCC') repeat-x;
    background-size: 20px 138px;
    min-width: 880px;
}

#logo {
    width: 870px;
    height: 91px;
    position: relative;
}

#logo #logo_text {
    position: absolute;
    left: 0;
}

#logo h1,
#logo h2 {
    font: normal 300% 'century gothic', arial, sans-serif;
    border-bottom: 0;
    text-transform: none;
    margin: 0 0 0 9px;
}

#logo_text h1,
#logo_text h1 a,
#logo_text h1 a:hover {
    padding: 22px 0 0 0;
    color: #393;
    letter-spacing: 0.02em;
    text-decoration: none;
}

#logo_text h1 a .logo_colour {
    color: #393;
    font-weight: 800;
}

#logo_text a:hover .logo_colour {
    color: #777;
}

#logo_text h2 {
    font-size: 120%;
    padding: 4px 0 0 0;
    color: #BBB;
}

#logo h1,
#logo h2 {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

#logo h1 {
    font-size: 300%;
    padding: 22px 0px 0px 0px;
    color: #393;
}

#logo h2 {
    font-size: 120%;
    padding: 4px 0px 0px 0px;
    color: #424242;
}

#logo a {
    border: none;
}

#menubar {
    width: 870px;
    height: 46px;
    padding-top: 4px;
    padding-left: 4px;
}

ul#menu {
    float: right;
    margin: 0px;
}

ul#menu li {
    float: left;
    margin: 5px 0 0 0;
    padding: 0 0 0 6px;
    list-style: none;
    cursor: pointer;
}

ul#menu li#name,
ul#menu li#logout {
    display: none;
    visibility: hidden;
}

ul#menu li.active {
    color: #393;
}

ul#menu li a,
ul#menu li {
    letter-spacing: 0.1em;
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    display: block;
    float: left;
    height: 20px;
    text-decoration: none;
    padding: 8px 22px 5px 16px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    border: none;
}

ul#menu li a:hover {
    color: #A4AA04;
}

#site_content {
    width: 875px;
    margin-top: 10px;
    min-height: 500px;
    overflow: hidden;
}

.sidebar {
    float: right;
    height: 500px;
    padding: 20px 25px 15px 15px;
}

.sidebar ul {
    width: 178px;
    padding-top: 4px;
    margin: 4px 0px 30px 0px;
}

.sidebar li {
    list-style: none;
    padding: 0px 0px 2px 0px;
}

.sidebar li a,
.sidebar li a:hover {
    text-decoration: none;
    padding: 4px 0px 4px 35px;
    display: block;
    background: transparent url(arrow.png) no-repeat left center;
    color: #555;
    border: none;
}

.sidebar li a.selected,
.sidebar li a:hover,
.sidebar li a.selected:hover {
    color: #A4AA04;
}

#content {
    text-align: left;
    width: 100%;
    float: left;
    padding: 0px 10px 0px 0px;
}

#footer {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 90%;
    height: 80px;
    padding: 20px 0px 4px 0px;
    text-align: center;
    background: #313131;
    color: #FFF;
    border-top: 4px solid #339933;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#footer a {
    color: #FFFF;
    text-decoration: none;
}

#footer a:hover {
    color: #d3d3d3;
    text-decoration: none;
}

.search {
    width: 122px;
    border: 1px solid #CCC6B4;
    padding: 4px;
    color: #635B53;
}

.form_settings {
    margin: 15px 0 0 0;
}

.form_settings p {
    padding: 0 0 4px 0;
}

.form_settings span {
    float: left;
    width: 200px;
    text-align: left;
}

.form_settings input,
.form_settings textarea {
    padding: 5px;
    /*width: 299px;*/

    font: 100% arial;
    border: 1px solid #E5E5DB;
    background: #FFF;
    color: #47433F;
    height: 30px;
}

.form_settings .submit {
    font: 100% arial;
    border: 1px solid;
    width: 99px;
    margin: 0 0 0 212px;
    height: 33px;
    padding: 2px 0 3px 0;
    cursor: pointer;
    background: #3B3B3B;
    color: #FFF;
}

.form_settings textarea,
.form_settings select {
    font: 100% arial;
    /*width: 299px;*/
}

.form_settings select {
    /*width: 310px;*/

    height: 30px;
}

.form_settings .checkbox {
    margin: 4px 0;
    padding: 0;
    width: 14px;
    border: 0;
    background: none;
}

.separator {
    width: 100%;
    height: 0;
    border-top: 1px solid #D9D5CF;
    border-bottom: 1px solid #FFF;
    margin: 0 0 20px 0;
}

table {
    margin: 10px 0 30px 0;
}

table tr th,
table tr td {
    background: #3B3B3B;
    color: #FFF;
    padding: 7px 4px;
    text-align: left;
}

table tr td {
    background: #FFF;
    color: #47433F;
    border-top: 1px solid #FFF;
}

.result-card {
    background-color: #fdfefe;
    min-height: 205px;
    margin: 0 auto;
    box-shadow: 8px 12px 30px #d8d8d8;
    color: #919495;
    text-align: left;
    position: relative;
    padding-left: 10px;
    padding-top: 10px;
}

.dentist-image {
    float: right;
    width: 30%;
    margin-top: -3%;
    margin-right: 0.7em;
    height: 70%;
}

.dentist-image img {
    vertical-align: middle;
    position: absolute;
    height: 50%;
    margin-top: 3%;
    margin-left: 8%;
    display: inline-block;
}

.dentist-image img.user-image {
    height: 16px;
    margin-top: 12%;
    margin-left: 14%;
}

.dentist-image p.image-placeholder {
    margin-top: 45%;
    margin-left: 34%;
}

.dentist-details {
    margin-top: -3em;
    margin-left: 1em;
    float: left;
    height: 100%;
    width: 62%;
}

.dentist-name {
    color: #222;
    font-size: 2em;
}

.dentist-info {
    font-size: 1.2em;
    color: #222;
    line-height: 0;
}

.dentist-info.specialty {
    font-style: italic;
}

.dentist-info.address,
.dentist-info.email,
.dentist-info.phone {
    cursor: pointer;
    color: #287a28;
    margin-bottom: 6px;
    line-height: 2px;
}

.dentist-info.address:hover,
.dentist-info.email:hover,
.dentist-info.phone:hover {
    text-decoration: underline;
    color: #393;
}

.dentist-info.working-hours {
    line-height: 1.4;
    color: #a9a9a9;
    font-size: 12px;
    margin-top: -7px;
}

p {
    display: block;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    line-height: 0.8;
}

.contact-button-div {
    float: right;
    width: 20%;
}

.contact-button {
    width: 23%;
    height: 10%;
    background-color: #4CAF50;
    position: absolute;
    bottom: 17%;
    right: 4%;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 2px;
}

.contact-button:hover {
    background-color: #287a28;
}

.doctor-name {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
}

.row {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.one-forth {
    width: 24%;
    display: inline-block;
}

#search-form {
    background-color: #BBBBBB;
    padding: 10px;
}

#search-form input {
    /*height: 30px;
  padding-left: 10px;*/
}

#search-results {
    width: 70%;
    float: left;
    overflow-y: scroll;
    height: 800px;
}

.empty_element {
    font-size: 16px;
    text-align: center;
    margin-top: 50%;
}

.week-day {
    display: inline !important;
    font-weight: normal;
}

select#gender {
    width: 93%;
}

form#search_form {
    width: 28%;
    text-align: left;
}

form#search_form button {
    background-color: #f0b323;
    cursor: pointer;
    width: 100%;
}

form#search_form button:hover {
    background-color: #433d38;
}

#login-modal {
    visibility: hidden;
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    /* Fallback color */

    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.login-title {
    color: #4CAF50;
    font-size: 1.8em;
    margin: 0px;
    margin-bottom: 5%;
    font-weight: 800;
}

div.login-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 40%;
    margin: 5% auto;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font: bold 1.8em sans-serif;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #4CAF50;
}

form.login-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.login-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 5px 0px 10px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 14px;
}

.login-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 12px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}

.login-form button#close_login {
    background: #d3d3d3;
}

.login-form button#close_login:hover,
.form button#close_login:active,
.form button#close_login:focus {
    background: #b3b3b3;
}

.result-card.contacted {
    background-color: #E6F8D9;
}

.visited-before {
    color: #393;
    position: absolute;
    font-size: 0.8em;
    margin-top: 20px;
    bottom: -4px;
    font-style: italic;
    right: 26px;
}

.login-form .login-message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.login-form .login-message a {
    color: #4CAF50;
    text-decoration: none;
}

#signup-form {
    display: none;
    visibility: hidden;
}

#login-error {
    color: #f55;
}

#counter {
    margin-top: 10px;
    text-align: center;
}

#search-results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#search-results::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#search-results::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #e3e3e3;
}

.close-login-form {

    text-align: right;
    font: bold 1.0em sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: -10px;
    cursor: pointer;
}

.loader {
    border: 6px solid #393;
    border-top: 6px solid transparent;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 45%;
    left: 36%;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

html {
    background-color: #f3f3f3;
}

/*  Making the form responsive. Remove this media query
    if you don't need the form to work on mobile devices. */

@media (max-width: 600px) {
    .form-labels-on-top {
        padding: 30px;
    }

    .form-labels-on-top input {
        width: 240px;
    }
}

.half {
    width: 38% !important;
    text-align: left;
    margin: 0 auto 0;
    box-sizing: border-box;
    color: #5f5f5f;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 5px 10px;
    border: 1px solid #dbdbdb;
    margin-left: 3px;
}

.left {
    float: left;
    margin-right: 0px;
    margin-left: 7px;
}

.form-labels-on-top {
    box-sizing: border-box;
    max-width: 30%;
    margin: 0 auto;
    padding: 20px;
    float: right;
    background-color: #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    font: bold 14px sans-serif;
    text-align: center;
}

.form-labels-on-top .form-input {
    text-align: left;
    max-width: 315px;
    margin: 10px auto 0;
    margin-left: 7.25px;
    display: block;
    box-sizing: border-box;
    color: #5f5f5f;
    width: 93%;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 5px 10px;
    border: 1px solid #dbdbdb;
}

.form-labels-on-top .form-select {
    text-align: left;
    max-width: 315px;
    margin: 10px auto 0;
    display: block;
    box-sizing: border-box;
    color: #5f5f5f;
    width: auto;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 5px 10px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
}

.form-labels-on-top .form-span {
    text-align: left;
    max-width: 315px;
    margin: 15px auto 0 8px;
    display: block;
    box-sizing: border-box;
    color: #5f5f5f;
    width: 200px;
    padding: 0 0 5px;
}

.form-labels-on-top .form-checkbox {
    text-align: left;
    max-width: 315px;
    margin: 0 0 0 8px;
    display: block;
    box-sizing: border-box;
    color: #5f5f5f;
    width: auto;
}

.form-labels-on-top .form-checkbox2 {
    float: left;
    text-align: left;
    width: 16%;
    margin: 2px -5px 0 0;
    color: #5f5f5f;
}

.form-labels-on-top .weekday {
    text-align: left;
    width: 84%;
    float: left;
    font-weight: 500;
    margin-top: 1px;
}

.form-labels-on-top button {
    border-radius: 2px;
    background-color: #6caee0;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
    padding: 14px 22px;
    border: 0;
    margin-top: 20px;
}

@media screen and (max-width: 1000px) and (min-width: 750px) {
    #header, #logo, #menubar, #site_content {
        width: unset;
        min-width: unset;
    }

    .contact-button {
        height: 22%;
    }
}